      <div class="footer">
        <p>Developed by <a href="https://www.linkedin.com/in/mauro-bosetti/">Mauro Bosetti</a></p>
        <div class="footer-links">
          <a href="https://twitter.com/itsamuro"><i class="fab fa-twitter"></i></a>
          <a href="https://github.com/amuroBosetti"><i class="fab fa-github"></i></a>
        </div>
      </div>
    </body>
</html>
