.thumbnail img{
  width: 100%;
}

.img-thumbnail {
  padding: 0;
}

.thumbnail .caption{
  padding: 9px
}

.delete-form{
  display: inline;
}

.footer{
  margin-left: 1em;
  padding-right: 1em;
  display: flex;
  width: 98%;
  bottom: 0;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  font-size: 1.2em;
}
