@media screen and (max-width: 600px) {
  .footerS {
    font-size: 20px !important;
  }
  .footer-links{
    display: none;
  }
}

html, body{
  height: 100%;.
  padding-bottom: 0;
}

.thumbnail img{
  width: 100%;
}

.img-thumbnail {
  padding: 0;
}

.thumbnail .caption{
  padding: 9px
}

.navbar{
  margin-bottom: 1em;
}

.delete-form{
  display: inline;
}

.footer{
  margin-left: 2em;
  margin-right: 2em;
  display: flex;
  bottom: 0;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  padding: 0.5em;
  font-size: 1.2em;
  color: white;
  background: rgba(0, 0, 0, 0.3);
  border-radius: 5px;
}

.footer p{
  margin-bottom: 0;
}

.footerS i{
  padding: 0.2em;
}

.comment-card{
  margin: 5px;
}
