<% include ../partials/header %>
    <div class="container">
        <header class="jumbotron">
            <div class="container">
                <h1>Welcome to the dungeons</h1>
                <p>See our aviliable dungeons from all over the world</p>
                <p>
                  <a class="btn btn-primary btn-large" href="/dungeons/new">Add a new dungeon</a>
                </p>
            </div>
        </header>

        <div id="main-content" class="row text-center" style="display:flex; flex-wrap: wrap">
            <% dungeons.forEach(function(dungeon){ %>
                <div class="col-md-3 col-sm-6">
                    <img class="img-thumbnail"  src="<%= dungeon.image %>">
                    <div class="caption">
                        <h4> <%= dungeon.name %> </h4>
                    </div>
                    <p>
                        <a href="/dungeons/<%= dungeon._id %>" class="btn btn-primary">More info</a>
                    </p>
                </div>
            <% }); %>
        </div>
    </div>

<% include ../partials/footer %>
